/*
 * CET-Lite for CoinEx Chain
 * A REST interface for state queries, transaction generation and broadcasting.
 *
 * OpenAPI spec version: 3.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package org.coinex.dex.client.api;

import org.coinex.dex.client.ApiCallback;
import org.coinex.dex.client.ApiClient;
import org.coinex.dex.client.ApiException;
import org.coinex.dex.client.ApiResponse;
import org.coinex.dex.client.Configuration;
import org.coinex.dex.client.Pair;
import org.coinex.dex.client.ProgressRequestBody;
import org.coinex.dex.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.coinex.dex.client.model.InlineResponse20058;
import org.coinex.dex.client.model.InlineResponse20059;
import org.coinex.dex.client.model.InlineResponse20060;
import org.coinex.dex.client.model.InlineResponse20061;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ExpiryApi {
    private ApiClient apiClient;

    public ExpiryApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ExpiryApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for queryRedelegation
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count limited to 1024 (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call queryRedelegationCall(String account, Long time, Long sid, Integer count, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/expiry/redelegations";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (account != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("account", account));
        if (time != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("time", time));
        if (sid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sid", sid));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call queryRedelegationValidateBeforeCall(String account, Long time, Long sid, Integer count, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'account' is set
        if (account == null) {
            throw new ApiException("Missing the required parameter 'account' when calling queryRedelegation(Async)");
        }
        
        // verify the required parameter 'time' is set
        if (time == null) {
            throw new ApiException("Missing the required parameter 'time' when calling queryRedelegation(Async)");
        }
        
        // verify the required parameter 'sid' is set
        if (sid == null) {
            throw new ApiException("Missing the required parameter 'sid' when calling queryRedelegation(Async)");
        }
        
        // verify the required parameter 'count' is set
        if (count == null) {
            throw new ApiException("Missing the required parameter 'count' when calling queryRedelegation(Async)");
        }
        

        com.squareup.okhttp.Call call = queryRedelegationCall(account, time, sid, count, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Query redelegation
     * Query delegator&#39;s redelegation-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count limited to 1024 (required)
     * @return InlineResponse20058
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20058 queryRedelegation(String account, Long time, Long sid, Integer count) throws ApiException {
        ApiResponse<InlineResponse20058> resp = queryRedelegationWithHttpInfo(account, time, sid, count);
        return resp.getData();
    }

    /**
     * Query redelegation
     * Query delegator&#39;s redelegation-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count limited to 1024 (required)
     * @return ApiResponse&lt;InlineResponse20058&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20058> queryRedelegationWithHttpInfo(String account, Long time, Long sid, Integer count) throws ApiException {
        com.squareup.okhttp.Call call = queryRedelegationValidateBeforeCall(account, time, sid, count, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20058>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Query redelegation (asynchronously)
     * Query delegator&#39;s redelegation-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count limited to 1024 (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call queryRedelegationAsync(String account, Long time, Long sid, Integer count, final ApiCallback<InlineResponse20058> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = queryRedelegationValidateBeforeCall(account, time, sid, count, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20058>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for queryUnbonding
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call queryUnbondingCall(String account, Long time, Long sid, Integer count, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/expiry/unbondings";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (account != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("account", account));
        if (time != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("time", time));
        if (sid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sid", sid));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call queryUnbondingValidateBeforeCall(String account, Long time, Long sid, Integer count, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'account' is set
        if (account == null) {
            throw new ApiException("Missing the required parameter 'account' when calling queryUnbonding(Async)");
        }
        
        // verify the required parameter 'time' is set
        if (time == null) {
            throw new ApiException("Missing the required parameter 'time' when calling queryUnbonding(Async)");
        }
        
        // verify the required parameter 'sid' is set
        if (sid == null) {
            throw new ApiException("Missing the required parameter 'sid' when calling queryUnbonding(Async)");
        }
        
        // verify the required parameter 'count' is set
        if (count == null) {
            throw new ApiException("Missing the required parameter 'count' when calling queryUnbonding(Async)");
        }
        

        com.squareup.okhttp.Call call = queryUnbondingCall(account, time, sid, count, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Query Unbonding
     * Query delegator&#39;s unbonding-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @return InlineResponse20059
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20059 queryUnbonding(String account, Long time, Long sid, Integer count) throws ApiException {
        ApiResponse<InlineResponse20059> resp = queryUnbondingWithHttpInfo(account, time, sid, count);
        return resp.getData();
    }

    /**
     * Query Unbonding
     * Query delegator&#39;s unbonding-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @return ApiResponse&lt;InlineResponse20059&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20059> queryUnbondingWithHttpInfo(String account, Long time, Long sid, Integer count) throws ApiException {
        com.squareup.okhttp.Call call = queryUnbondingValidateBeforeCall(account, time, sid, count, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20059>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Query Unbonding (asynchronously)
     * Query delegator&#39;s unbonding-completion info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call queryUnbondingAsync(String account, Long time, Long sid, Integer count, final ApiCallback<InlineResponse20059> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = queryUnbondingValidateBeforeCall(account, time, sid, count, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20059>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for queryUnlock
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call queryUnlockCall(String account, Long time, Long sid, Integer count, String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/expiry/unlocks";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (account != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("account", account));
        if (time != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("time", time));
        if (sid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sid", sid));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call queryUnlockValidateBeforeCall(String account, Long time, Long sid, Integer count, String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'account' is set
        if (account == null) {
            throw new ApiException("Missing the required parameter 'account' when calling queryUnlock(Async)");
        }
        
        // verify the required parameter 'time' is set
        if (time == null) {
            throw new ApiException("Missing the required parameter 'time' when calling queryUnlock(Async)");
        }
        
        // verify the required parameter 'sid' is set
        if (sid == null) {
            throw new ApiException("Missing the required parameter 'sid' when calling queryUnlock(Async)");
        }
        
        // verify the required parameter 'count' is set
        if (count == null) {
            throw new ApiException("Missing the required parameter 'count' when calling queryUnlock(Async)");
        }
        

        com.squareup.okhttp.Call call = queryUnlockCall(account, time, sid, count, token, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Query Unlock
     * Query Unlock info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @return InlineResponse20061
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20061 queryUnlock(String account, Long time, Long sid, Integer count, String token) throws ApiException {
        ApiResponse<InlineResponse20061> resp = queryUnlockWithHttpInfo(account, time, sid, count, token);
        return resp.getData();
    }

    /**
     * Query Unlock
     * Query Unlock info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @return ApiResponse&lt;InlineResponse20061&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20061> queryUnlockWithHttpInfo(String account, Long time, Long sid, Integer count, String token) throws ApiException {
        com.squareup.okhttp.Call call = queryUnlockValidateBeforeCall(account, time, sid, count, token, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20061>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Query Unlock (asynchronously)
     * Query Unlock info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call queryUnlockAsync(String account, Long time, Long sid, Integer count, String token, final ApiCallback<InlineResponse20061> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = queryUnlockValidateBeforeCall(account, time, sid, count, token, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20061>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for querylocked
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call querylockedCall(String account, Long time, Long sid, Integer count, String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/expiry/lockeds";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (account != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("account", account));
        if (time != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("time", time));
        if (sid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("sid", sid));
        if (count != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("count", count));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call querylockedValidateBeforeCall(String account, Long time, Long sid, Integer count, String token, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'account' is set
        if (account == null) {
            throw new ApiException("Missing the required parameter 'account' when calling querylocked(Async)");
        }
        
        // verify the required parameter 'time' is set
        if (time == null) {
            throw new ApiException("Missing the required parameter 'time' when calling querylocked(Async)");
        }
        
        // verify the required parameter 'sid' is set
        if (sid == null) {
            throw new ApiException("Missing the required parameter 'sid' when calling querylocked(Async)");
        }
        
        // verify the required parameter 'count' is set
        if (count == null) {
            throw new ApiException("Missing the required parameter 'count' when calling querylocked(Async)");
        }
        

        com.squareup.okhttp.Call call = querylockedCall(account, time, sid, count, token, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Query lock tx
     * Query lock transfer info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @return InlineResponse20060
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse20060 querylocked(String account, Long time, Long sid, Integer count, String token) throws ApiException {
        ApiResponse<InlineResponse20060> resp = querylockedWithHttpInfo(account, time, sid, count, token);
        return resp.getData();
    }

    /**
     * Query lock tx
     * Query lock transfer info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @return ApiResponse&lt;InlineResponse20060&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse20060> querylockedWithHttpInfo(String account, Long time, Long sid, Integer count, String token) throws ApiException {
        com.squareup.okhttp.Call call = querylockedValidateBeforeCall(account, time, sid, count, token, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse20060>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Query lock tx (asynchronously)
     * Query lock transfer info
     * @param account Bech32 address (required)
     * @param time Unix timestamp (required)
     * @param sid Sequence id (required)
     * @param count Querier count (required)
     * @param token Symbol (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call querylockedAsync(String account, Long time, Long sid, Integer count, String token, final ApiCallback<InlineResponse20060> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = querylockedValidateBeforeCall(account, time, sid, count, token, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse20060>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
